{% extends 'main/header.html' %}
    {% block title %}Home{% endblock %}

    {% block content %}
{% load static %}
<!-- Slide 1 (#38) -->
    <section class="slide fade-6 kenBurns">
        <div class="content">
            <div class="container">
                <div class="wrap">
                    <div class="fix-7-12">

                        <p class="margin-top-1 ae-3">
                            <span class="opacity-8">
                                <h2>Tours  And Travels Prediction System</h2>
                                <br>
                                <h5> Feel The Power Of Machine Learning And Grab The Market .
                Get the  fastest result with 93.5% accuracy!!!!
                                </h5>
                            </span>
                        </p>
                        <div class="fix-4-12">
                            <a class="button wide blue gradient ae-10 margin-top-1 cropBottom" href="/index2"><b style="font-family:roboto;color:white;font-size: medium;">Get Started</b></a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="background" style="background-image:url(assets/img/background/img-38.jpg)"></div> -->
        <div class="background" style="background-image:url({% static 'main/assets/img/background/img-38.jpg' %})"></div>
    </section>
{% endblock %}
